body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--primary-text-color);

  // background-color: var(--main-first-bgcolor);

}

button {
  cursor: pointer;
}