:root {
    --primary-text-color: #FFFFFF; 
    --dark-text-color: #000000; 
    --light-dark-text-color: #907E82;
    --third-text-color: #907E82;
    --fourth-text-color: #FFA5BA;
    --accent-color: #D41443;
    --secondary-color: #FFA5BA;
    --button-hover-bgcolor: #ECEBEB;
    
    --main-first-bgcolor: #FFB8CA;


    --main-secondary-bgcolor: #FFF5F6;
    --secondary-bgcolor: #FAFAFA;
    --secondary-dark-color: #E1E1E1;
    --third-bgcolor: #C2E297;
    --fourth-bgcolor: #F0D1A5 ;
    --fifth-bgcolor: #FFFFFF;
   
    --main-slider-dot-color: #D9D9D9;
    --accent-slider-dot-color: #C7133E;
    --second-accent-slider-dot-color: #D31342;

    --contacts-border-color: #E1E1E1;


    --button-first-txtcolor: #FFFFFF;
    --button-second-txtcolor: #D41443;
    
    --button-first-bgcolor: #D41342;
    --button-second-bgcolor: #FFFFFF;
    --button-second-accent-bgcolor: #D41342;
    
    --button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    --mobile-menu-line-color: #E18298;
    --mobile-menu-bgcolor: #E17992;

    --icon-first-color: #FFFFFF;

    --main-socials-bgcolor: #FEA5BB;

    --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* timing functions */
    --timing-function-main: cubic-bezier(0.4, 0, 0.2, 1);

    /* timeings */
    --transition-duration-main: 250ms;
    --transition-duration-modal: 500ms;

}
