:root {
  --primary-text-color: #ffffff;
  --dark-text-color: #000000;
  --light-dark-text-color: #907e82;
  --accent-color: #d41443;
  --secondary-color: #ffa5ba;
  --button-hover-bgcolor: #ecebeb;

  --main-first-bgcolor: #ffb8ca;
  --main-secondary-bgcolor: #fff5f6;
  --secondary-bgcolor: #fafafa;
  --secondary-dark-color: #e1e1e1;
  --third-bgcolor: #c2e297;
  --fourth-bgcolor: #f0d1a5;
  --fifth-bgcolor: #ffffff;

  --main-slider-dot-color: #d9d9d9;
  --accent-slider-dot-color: #c7133e;
  --second-accent-slider-dot-color: #d31342;

  --button-second-accent-bgcolor: #d41342;
  --mobile-menu-line-color: #e18298;
  --mobile-menu-bgcolor: #e17992;

  --main-socials-bgcolor: #fea5bb;

  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
