<section class="section about" id="section-about">
  <div class="container">
    <p class="subtitle">tradition and love</p>
    <h1 class="title about__title">how it’s made?</h1>
    <div class="about__wrapper">
      <picture class="about__picture">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/about/about-l.webp    1x,
            ./images/about/about-l@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/about/about-l.png    1x,
            ./images/about/about-l@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-m.webp    1x,
            ./images/about/about-m@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-m.png    1x,
            ./images/about/about-m@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/about/about-s.webp    1x,
            ./images/about/about-s@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/about/about-s.png    1x,
            ./images/about/about-s@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/about/about-s.png" alt="cow" />
      </picture>
      <div class="about__content">
        <p class="about__text about__text--black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text about__text--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <a class="button link button--white" href="#"
          ><span class="button__text button--white about__button"
            >Read more</span
          ><svg class="button__icon button--white">
            <use href="./images/icons.svg#icon-arrow-second"></use></svg
        ></a>
      </div>
    </div>
  </div>
</section>
