<section class="section about" id="section-about">
  <div class="container">
    <p class="subtitle">tradition and love</p>
    <h1 class="title about__title">how it’s made?</h1>
    <div class="about__wrapper">
      <picture
        class="about__picture"
        data-aos="zoom-in-right"
        data-aos-duration="1500"
        data-aos-delay="300"
      >
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/about/about-desktop.webp    1x,
            ./images/about/about-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/about/about-desktop.png    1x,
            ./images/about/about-desktop@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-tablet.webp    1x,
            ./images/about/about-tablet@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/about/about-tablet.png    1x,
            ./images/about/about-tablet@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/about/about-mobile.webp    1x,
            ./images/about/about-mobile@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 768px)"
          srcset="
            ./images/about/about-mobile.png    1x,
            ./images/about/about-mobile@2x.png 2x
          "
          type="image/png"
        />
        <img src="./images/about/about-mobile.png" alt="cow" />
      </picture>
      <div class="about__content">
        <p class="about__text about__text--black">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text about__text--grey">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="button link button--white" type="button" data-modal-open-about>Read more<svg class="button__icon button--white">
            <use href="./images/icons.svg#icon-arrow-second"></use>
          </svg></button>

        </button>
      </div>
    </div>
  </div>
</section>



