<!-- About modal window -->
<div class="about-backdrop is-hidden" data-modal-about>
  <div class="about-modal">
    <button
      class="about-modal__close-btn close-btn"
      type="button"
      data-modal-close-about
    >
      <svg class="close-btn__icon" width="18px" height="18px">
        <use href="./images/icons.svg#icon-modal-close"></use>
      </svg>
    </button>

    <p class="about-modal-subtitle">How it’s made?</p>
    <ul class="about-modal-list list">
      <li class="about-modal-item">
        <p class="about-modal-text">tradition</p>
        <p class="about-modal-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rem
          vero, tenetur dolorem nam atque eveniet
        </p>
      </li>
      <li class="about-modal-item">
        <p class="about-modal-text">love</p>
        <p class="about-modal-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rem
          vero, tenetur dolorem nam atque eveniet
        </p>
      </li>
      <li class="about-modal-item">
        <p class="about-modal-text">magic</p>
        <p class="about-modal-desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rem
          vero, tenetur dolorem nam atque eveniet
        </p>
      </li>
    </ul>

    <!-- <iframe
      width="397"
      height="223"
      src="https://www.youtube.com/embed/hO-7cz7gyAY"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe> -->

    <a
      class="button button--red about-modal-btn link"
      href="https://www.youtube.com/embed/hO-7cz7gyAY"
      target="_blank" rel="noreferrer noopener"
      >Watch the video</a
    >
  </div>
</div>
