<section class="section">
  <div class="container">
    <p class="subtitle">tradition and love</p>
    <h1 class="title">how it’s made?</h1>
    <!-- <img src="" alt="" /> -->
    <p>
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
      cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo
      fringilla.
    </p>
    <p>
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
      Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
      suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
      tincidunt. Aliquam erat volutpat. Aenean accumsan.
    </p>
    <a class="button link button--white" href="#"
      ><span class="button__text button--white">Read more</span
      ><svg class="button__icon button--white">
        <use href="./images/icons.svg#icon-arrow-second"></use></svg
    ></a>
  </div>
</section>
