<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title lang="en">html homework-02</title>
  </head> -->

<section class="contacts-section" id="section-contacts">
  <div class="contacts-container">

    <h1 class="visually-hidden">Our contacts</h1>
    <ul class="contacts-cards-set list">
      <li class="contacts-card">
        <p class="contacts-card__title">CAFE</p>
        <ul class="list">
          <li class="contacts-card__item">
            <p class="contacts-card__city">Chicago</p>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts-card__days">Saturday - Sunday</p>
            <p class="contacts-card__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts-card__item">
            <a class="contacts-card__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts-card__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__title contacts-card__title--more-wide">
          FOODTRUCK
        </p>
        <ul class="list">
          <li class="contacts-card__item">
            <p class="contacts-card__city">Los Angeles</p>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts-card__days">Saturday - Sunday</p>
            <p class="contacts-card__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts-card__item">
            <a class="contacts-card__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts-card__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__title">CAFE</p>
        <ul class="list">
          <li class="contacts-card__item">
            <p class="contacts-card__city">New York</p>
            <p class="contacts-card__description">
              Fusce ut velit laoreet, tempus <br />
              arcu molestie vulputate
            </p>
          </li>
          <li class="contacts-card__item">
            <p class="contacts-card__days">Monday - Friday</p>
            <p class="contacts-card__hours">06:00 AM - 10:00 PM</p>
            <p class="contacts-card__days">Saturday - Sunday</p>
            <p class="contacts-card__hours">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts-card__item">
            <a class="contacts-card__tel-email link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts-card__tel-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Buttons -->
    <div class="contacts-buttons-wrapper">
      <button class="contacts-buttons" type="button" data-modal-open>
        Our Locations
        <svg class="contacts-buttons__icon" width="4" height="8">
          <use href="./images/icons.svg#icon-arrow-second"></use>
        </svg>
      </button>

      <button class="contacts-buttons contacts-buttons--reverse-colors" type="button" data-modal-open-fr>
        Franchise
        <svg class="contacts-buttons__icon contacts-buttons__icon--left-margin" width="4" height="8">
          <use href="./images/icons.svg#icon-arrow-fourth"></use>
        </svg>
      </button>
    </div>


    <!-- Location modal window -->
    <div class="contacts-backdrop is-hidden" data-modal>
      <div class="contacts-modal">
        <button type="button" class="close-modal-btn" aria-label="Close modal-location window" data-modal-close>
          <svg class="close-modal-btn__icon" width="18" height="18">
            <use href="./images/icons.svg#icon-modal-close"></use>
          </svg>
        </button>
        <p class="common-modal-form-subtitle common-modal-form-subtitle--larger-font">
          Our locations: <br />
        </p>
        <p>
          <iframe class="contacts-modal-map" title="Location map"
            src="https://www.google.com/maps/d/u/0/embed?mid=1dAf656NlnnxWXRVPA11TSLJklJhYYqQ&ehbc=2E312F" width="600"
            height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </p>
      </div>
    </div>

    <!-- Franchise modal window -->
    <div class="contacts-backdrop is-hidden" data-modal-fr>
      <div class="contacts-modal">
        <button type="button" class="close-modal-btn" aria-label="Close modal-franchise window" data-modal-close-fr>
          <svg class="close-modal-btn__icon" width="18" height="18">
            <use href="./images/icons.svg#icon-modal-close"></use>
          </svg>
        </button>

        <form class="common-modal-form" autocomplete="off">
          <p class="common-modal-form-subtitle">
            We are always happy to work with You! <br>
            If you want to become our partner, leave your details and we will contact you soon
          </p>

          <label class="common-modal-form-label" for="urer-name-franchise">Full name</label>
          <div class="common-modal-form-field">
            <input class="common-modal-form-input" type="text" name="name" id="urer-name-franchise" required />
            <svg class="common-modal-form-icon" width="18px" height="18px">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </div>


          <label class="common-modal-form-label" for="phone_number-franchise">Phone number</label>
          <div class="common-modal-form-field">
            <input class="common-modal-form-input" type="tel" name="tel" id="phone_number-franchise" required />
            <svg class="common-modal-form-icon" width="18px" height="18px">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
          </div>


          <label class="common-modal-form-label" for="user-email-franchise">Email address</label>
          <div class="common-modal-form-field common-modal-form-field--margin-bottom">
            <input class="common-modal-form-input" type="email" name="email" id="user-email-franchise" required />
            <svg class="common-modal-form-icon" width="18px" height="18px">
              <use href="./images/icons.svg#icon-email"></use>
            </svg>
          </div>

          <button class="button button--red common-modal-submit-btn" type="submit">
            Send
          </button>
        </form>




      </div>
    </div>
  </div>

</section>

</html>