<section class="customer__reviews section">
  <h2 id="customer-reviews">Customer-reviews</h2>
  <div class="customer__container container single-item">
    <div class="customer__unit">
      <img
        class="customer__img"
        src="./images/customer-reviews/custumer_1_desc.jpg"
        alt="Користувач"
        height="85"
        width="85"
      />
      <div class="customer__comment">
        <span class="customer__text"
          >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Adivquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.</span
        >
      </div>

      <span class="customer__user">Emily, Los Angeles</span>
    </div>
    <div class="customer__unit">
      <img
        class="customer__img"
        src="./images/customer-reviews/custumer_2_desc.jpg"
        alt="Користувач"
        height="85"
        width="85"
      />
      <div class="customer__comment">
        <span class="customer__text"
          >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Adivquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.</span
        >
      </div>

      <span class="customer__user">Emily, Los Angeles</span>
    </div>
    <div class="customer__unit">
      <img
        class="customer__img"
        src="./images/customer-reviews/custumer_3_desc.jpg"
        alt="Користувач"
        height="85"
        width="85"
      />
      <div class="customer__comment">
        <span class="customer__text"
          >Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Adivquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.</span
        >
      </div>
      <span class="customer__user">Emily, Los Angeles</span>
    </div>
  </div>
</section>
