<section class="gallery section">
  <div class="wrapper-container container">
    <ul class="image-list">
      <li class="image-list__item image-list__item--1">
        <picture>
          <source
            srcset="
              ./images/gallery/image-1-1200.png    1x,
              ./images/gallery/image-1-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-1-768.png    1x,
              ./images/gallery/image-1-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-1-320.png    1x,
              ./images/gallery/image-1-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <div class="test">
            <img
              src="./images/gallery/image-1-1200.png"
              width="138"
              alt="мороженное"
            />
          </div>
        </picture>
      </li>
      <li class="image-list__item image-list__item--2">
        <picture>
          <source
            srcset="
              ./images/gallery/image-2-1200.png    1x,
              ./images/gallery/image-2-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-2-768.png    1x,
              ./images/gallery/image-2-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-2-320.png    1x,
              ./images/gallery/image-2-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-2-1200.png"
            width="138"
            class="second-list"
            alt="мороженное"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/image-3-1200.png    1x,
              ./images/gallery/image-3-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-3-768.png    1x,
              ./images/gallery/image-3-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-3-320.png    1x,
              ./images/gallery/image-3-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-3-1200.png"
            width="138"
            alt="мороженное"
          />
        </picture>
      </li>
      <li class="image-list__item image-list__item--3">
        <picture>
          <source
            srcset="
              ./images/gallery/image-4-1200.png    1x,
              ./images/gallery/image-4-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-4-768.png    1x,
              ./images/gallery/image-4-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-4-320.png    1x,
              ./images/gallery/image-4-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-4-1200.png"
            width="283"
            class="third-list"
            alt="мороженное"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/image-5-1200.png    1x,
              ./images/gallery/image-5-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-5-768.png    1x,
              ./images/gallery/image-5-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-5-320.png    1x,
              ./images/gallery/image-5-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-5-1200.png"
            width="138"
            alt="мороженное"
          />
        </picture>
      </li>
      <li class="image-list__item image-list__item--4">
        <picture>
          <source
            srcset="
              ./images/gallery/image-6-1200.png    1x,
              ./images/gallery/image-6-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-6-768.png    1x,
              ./images/gallery/image-6-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-6-320.png    1x,
              ./images/gallery/image-6-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-6-1200.png"
            width="138"
            class="fourth-list"
            alt="мороженное"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/image-7-1200.png    1x,
              ./images/gallery/image-7-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-7-768.png    1x,
              ./images/gallery/image-7-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-7-320.png    1x,
              ./images/gallery/image-7-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-7-1200.png"
            width="138"
            alt="мороженное"
          />
        </picture>
      </li>
      <li class="image-list__item image-list__item--5">
        <picture>
          <source
            srcset="
              ./images/gallery/image-8-1200.png    1x,
              ./images/gallery/image-8-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-8-768.png    1x,
              ./images/gallery/image-8-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-8-320.png    1x,
              ./images/gallery/image-8-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-8-1200.png"
            width="138"
            class="fifth-list"
            alt="мороженное"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/gallery/image-9-1200.png    1x,
              ./images/gallery/image-9-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-9-768.png    1x,
              ./images/gallery/image-9-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-9-320.png    1x,
              ./images/gallery/image-9-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-9-1200.png"
            width="138"
            alt="мороженное"
          />
        </picture>
      </li>
      <li class="image-list__item image-list__item--6">
        <picture>
          <source
            srcset="
              ./images/gallery/image-10-1200.png    1x,
              ./images/gallery/image-10-1200@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/image-10-768.png    1x,
              ./images/gallery/image-10-768@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/image-10-320.png    1x,
              ./images/gallery/image-10-320@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/image-10-1200.png"
            width="138"
            alt="мороженное"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
