<section class="gallery section">
  <h2 hidden>Gallery</h2>
  <div class="gallery__container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-1.png    1x,
              ./images/gallery/gallery-desktop-1@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-1.png    1x,
              ./images/gallery/gallery-tablet-1@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-1.png    1x,
              ./images/gallery/gallery-mobile-1@2x.png 2x
            "
            media="(max-width:767px)"
          />

          <img
            src="./images/gallery/gallery-desktop-1.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-2.png    1x,
              ./images/gallery/gallery-desktop-2@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-2.png    1x,
              ./images/gallery/gallery-tablet-2@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-2.png    1x,
              ./images/gallery/gallery-mobile-2@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-2.png"
            width="138"
            class="second-list"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-3.png    1x,
              ./images/gallery/gallery-desktop-3@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-3.png    1x,
              ./images/gallery/gallery-tablet-3@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-3.png    1x,
              ./images/gallery/gallery-mobile-3@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-3.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-4.png    1x,
              ./images/gallery/gallery-desktop-4@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-4.png    1x,
              ./images/gallery/gallery-tablet-4@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-4.png    1x,
              ./images/gallery/gallery-mobile-4@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-4.png"
            width="283"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-5.png    1x,
              ./images/gallery/gallery-desktop-5@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-5.png    1x,
              ./images/gallery/gallery-tablet-5@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-5.png    1x,
              ./images/gallery/gallery-mobile-5@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-5.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-6.png    1x,
              ./images/gallery/gallery-desktop-6@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-6.png    1x,
              ./images/gallery/gallery-tablet-6@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-6.png    1x,
              ./images/gallery/gallery-mobile-6@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-6.png"
            width="138"
            class="fourth-list"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-7.png    1x,
              ./images/gallery/gallery-desktop-7@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-7.png    1x,
              ./images/gallery/gallery-tablet-7@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-7.png    1x,
              ./images/gallery/gallery-mobile-7@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-7.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-8.png    1x,
              ./images/gallery/gallery-desktop-8@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-8.png    1x,
              ./images/gallery/gallery-tablet-8@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-8.png    1x,
              ./images/gallery/gallery-mobile-8@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-8.png"
            width="138"
            class="fifth-list"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-9.png    1x,
              ./images/gallery/gallery-desktop-9@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-9.png    1x,
              ./images/gallery/gallery-tablet-9@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-9.png    1x,
              ./images/gallery/gallery-mobile-9@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-9.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop-10.png    1x,
              ./images/gallery/gallery-desktop-10@2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-tablet-10.png    1x,
              ./images/gallery/gallery-tablet-10@2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mobile-10.png    1x,
              ./images/gallery/gallery-mobile-10@2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img
            src="./images/gallery/gallery-desktop-10.png"
            width="138"
            alt="ice cream"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
