<!-- <header class="header">
  <div class="header__container container">
    <a class="logo-link" href="#">
      <svg class="logo-link__icon" width="199" height="50">
        <use href="/src/images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list list">
        <li class="header__nav-list-item">
          <a class="header__nav-link header__nav-link--current link" href="#">
            Home
          </a>
        </li>
        <li class="header__nav-list-item">
          <a class="header__nav-link link" href="#">About us</a>
        </li>
        <li class="header__nav-list-item">
          <a class="header__nav-link link" href="#">How it&apos;s made?</a>
        </li>
        <li class="header__nav-list-item">
          <a class="header__nav-link link" href="#">Our products</a>
        </li>
        <li class="header__nav-list-item">
          <a class="header__nav-link link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__buy-now-btn btn">
      <span class="header__buy-now-btn-text">Buy now</span>
      <svg class="header__buy-now-btn-icon" width="4" height="8">
        <use href="/src/images/icons.svg#icon-arrow-fourth"></use>
      </svg>
    </button>
  </div>
</header> -->
