<header>
  <a href="#"
    ><img
      src="./images/logo.png"
      alt="logo"
      width="100px
    "
  /></a>
  <nav>
    <ul class="header__list">
      <li class="header__item"><a href="#" class="header__link">Home</a></li>
      <li class="header__item">
        <a href="#" class="header__link">About us</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">How it’s made?</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Our products</a>
      </li>
      <li class="header__item"><a href="#" class="header__link">Contact</a></li>
    </ul>
  </nav>
  <button type="button">Buy now</button>
</header>
