<section class="hero" id="section-hero">
  <div class="hero__container container">
    <div class="hero__content-left">
      <h1 class="hero__header">
        ice cream made with
        <span class="hero__header-bottom">passion</span>
      </h1>
      <ul class="hero__navigation list">
        <li class="hero__navigation-item">
          <a class="hero__navigation-link hero__products-link link" href="#">
            Products
          </a>
        </li>
        <li class="hero__navigation-item">
          <a
            class="hero__navigation-link hero__how-its-made-link link"
            href="#"
          >
            How it&apos;s made?
          </a>
        </li>
      </ul>
      <div class="hero__feature">
        <picture class="hero__feature-img">
          <source
            media="(max-width: 1199.9px)"
            srcset="
              ./images/hero/milk-tab@1x.png 1x,
              ./images/hero/milk-tab@2x.png 2x
            "
            type="image/png"
          />
          <source
            class="hero__feature-img"
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/milk-desk@1x.png 1x,
              ./images/hero/milk-desk@2x.png 2x
            "
            type="image/png"
          />
          <img src="./images/hero/milk-tab@1x.png" alt="Milk" />
        </picture>
        <span class="hero__feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <a class="hero__feature-link" href="#">
            <svg class="hero__feature-link-icon">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </a>
        </span>
      </div>
    </div>

    <picture class="hero__main-img">
      <source
        media="(max-width: 767.9px)"
        srcset="
          ./images/hero/icecream-mob@1x.png 1x,
          ./images/hero/icecream-mob@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(max-width: 1199.9px)"
        srcset="
          ./images/hero/icecream-tab@1x.png 1x,
          ./images/hero/icecream-tab@2x.png 2x
        "
        type="image/png"
      />
      <source
        media="(min-width: 1200px)"
        srcset="
          ./images/hero/icecream-desk@1x.png 1x,
          ./images/hero/icecream-desk@2x.png 2x
        "
        type="image/png"
      />
      <img src="./images/hero/icecream-desk@1x.png" alt="Icecream" />
    </picture>
    <div class="hero__content-right">
      <ul class="hero__statistic-list list">
        <li class="hero__statistic-list-item">
          <span class="hero__statistic-item-value">16</span>
          <span class="hero__statistic-item-text">cafes</span>
        </li>
        <li class="hero__statistic-list-item">
          <span class="hero__statistic-item-value">23</span>
          <span class="hero__statistic-item-text">food trucks</span>
        </li>
      </ul>
      <picture class="hero__secondary-img">
        <source
          media="(max-width: 1199.9px)"
          srcset="
            ./images/hero/girl-with-icecream-tab@1x.png 1x,
            ./images/hero/girl-with-icecream-tab@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/girl-with-icecream-desk@1x.png 1x,
            ./images/hero/girl-with-icecream-desk@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/hero/girl-with-icecream-desk@1x.png"
          alt="Icecream"
        />
      </picture>
    </div>
  </div>
</section>
