<!-- <section class="hero">
  <div class="hero__container container">
    <div class="hero__content-left">
      <h1 class="hero__header">
        ice cream made with
        <span class="hero__header-bottom">passion</span>
      </h1>
      <ul class="hero__navigation list">
        <li class="hero__navigation-item">
          <a class="hero__navigation-link hero__products-link link" href="#">
            Products
          </a>
        </li>
        <li class="hero__navigation-item">
          <a
            class="hero__navigation-link hero__how-its-made-link link"
            href="#"
          >
            How it&apos;s made?
          </a>
        </li>
      </ul>
      <div class="hero__feature">
        <picture class="hero__feature-img">
          <source
            media="(min-width: 1200px)"
            srcset="/src/images/hero/milk-213-2x.png 2x"
            type="image/png"
          />
          <img
            src="/src/images/hero/milk-213-2x.png"
            alt="Milk"
            width="213"
            height="216"
          />
        </picture>
        <span class="hero__feature-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <a class="hero__feature-link" href="#"></a>
        </span>
      </div>
    </div>
    <div class="hero__content-right">
      <picture class="hero__main-img">
        <source
          media="(min-width: 1200px)"
          srcset="/src/images/hero/icecream-236-2x.png 2x"
          type="image/png"
        />
        <img
          src="/src/images/hero/icecream-236-2x.png"
          alt="Icecream"
          width="236"
          height="557"
        />
      </picture>
      <ul class="hero__statistic-list list">
        <li class="hero__statistic-list-item">
          <span class="hero__statistic-item-value">16</span>
          <span class="hero__statistic-item-text">cafes</span>
        </li>
        <li class="hero__statistic-list-item">
          <span class="hero__statistic-item-value">23</span>
          <span class="hero__statistic-item-text">food trucks</span>
        </li>
      </ul>
      <picture class="hero__secondary-img">
        <source
          media="(min-width: 1200px)"
          srcset="/src/images/hero/girl-with-icecream-304-2x.png 2x"
          type="image/png"
        />
        <img
          src="/src/images/hero/girl-with-icecream-304-2x.png"
          alt="Icecream"
          width="304"
          height="241"
        />
      </picture>
    </div>
  </div>
</section> -->
