<section class="products section" id="section-products">
  <div class="products__container container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--bg1 spin-card">
          <h3 class="products__name products__name--icecream">ice cream</h3>
          <div class="products__position">
            <p class="products__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <div class="products__overlay products__overlay--bg1">
                <table>
                  <caption>Nutrition values per 100g</caption>
                  <tr>
                    <td>Proteins</td>
                    <td>2g</td>
                  </tr>
                  <tr>
                    <td>Total Fat</td>
                    <td>7g</td>
                  </tr>
                  <tr>
                    <td>Sugars</td>
                    <td>14g</td>
                  </tr>
                  <tr>
                    <td>Calories</td>
                    <td>140</td>
                  </tr>
                </table>
            </div>
          </div>
        <button class="products__button spin-card-button" type="button" aria-label="open overlay">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--bg2 spin-card">
        <h3 class="products__name products__name--coffee">ice coffee</h3>
          <div class="products__position">
            <p class="products__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <div class="products__overlay products__overlay--bg2">
              <table>
                <caption>Nutrition values per 100g</caption>
                <tr>
                  <td>Proteins</td>
                  <td>2g</td>
                </tr>
                <tr>
                  <td>Total Fat</td>
                  <td>7g</td>
                </tr>
                <tr>
                  <td>Sugars</td>
                  <td>14g</td>
                </tr>
                <tr>
                  <td>Calories</td>
                  <td>140</td>
                </tr>
              </table>
            </div>
          </div>
        <button class="products__button spin-card-button" type="button" aria-label="open overlay">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--bg3 spin-card">
        <h3 class="products__name products__name--milkshake">milkshakes</h3>
          <div class="products__position">
            <p class="products__desc">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </p>
            <div class="products__overlay products__overlay--bg3">
              <table>
                <caption>Nutrition values per 100g</caption>
                <tr>
                  <td>Proteins</td>
                  <td>2g</td>
                </tr>
                <tr>
                  <td>Total Fat</td>
                  <td>7g</td>
                </tr>
                <tr>
                  <td>Sugars</td>
                  <td>14g</td>
                </tr>
                <tr>
                  <td>Calories</td>
                  <td>140</td>
                </tr>
              </table>
            </div>
          </div>
        <button class="products__button spin-card-button" type="button" aria-label="open overlay">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
