<section class="products section">
    <div class="products__container container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="products__item products__item--pink">
                <h3 class="products__name products__name--icecream">ice cream</h3>
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--beige">
                <h3 class="products__name products__name--coffee">ice coffee</h3>
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--green">
                <h3 class="products__name products__name--milkshake">milkshakes</h3>
                <p class="products__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>