<section class="products section" id="section-products">
  <div class="products__container container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--bg1 spin-card">
        <div class="front">
        <h3 class="products__name products__name--icecream">ice cream</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        </div>
        <div class="back">
          <h3 class="products__name products__name--icecream">ice cream</h3>
          <p class="products__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </div>
        <button class="products__button spin-card-button" type="button">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--bg2 spin-card">
          <h3 class="products__name products__name--coffee">ice coffee</h3>
        <div class="front">
          <p class="products__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <div class="back">
          <p class="products__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </div>
        <button class="products__button spin-card-button" type="button">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--bg3 spin-card">
        <h3 class="products__name products__name--milkshake">milkshakes</h3>
        <p class="products__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__button spin-card-button" type="button">
          <svg class="products__icon" width="14" height="14">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
