<div class="side-nav is-hidden" data-mobile-nav>
  <button class="side-nav__close-btn" data-mobile-nav-close>
    <svg class="side-nav__close-btn-icon" width="16" height="16">
      <use href="/src/images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="side-nav__buy-now-btn btn">
    <span class="side-nav__buy-now-btn-text"> Buy now </span>
    <svg class="side-nav__buy-now-btn-icon" width="5.26" height="8">
      <use href="/src/images/icons.svg#icon-arrow-fourth"></use>
    </svg>
  </button>
  <ul class="side-nav__links list">
    <li class="side-nav__links-item">
      <a class="side-nav__link side-nav__link--current link" href="#">Home</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#">About us</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#">How it&apos;s made?</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#">Our products</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#">Contact</a>
    </li>
  </ul>
</div>
