<div class="side-nav is-hidden" data-mobile-nav>
  <button class="side-nav__close-btn" data-mobile-nav-close>
    <svg class="side-nav__close-btn-icon" width="16" height="16">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="side-nav__buy-now-btn btn" data-modal-open-hero>
    <span class="side-nav__buy-now-btn-text"> Buy now </span>
    <svg class="side-nav__buy-now-btn-icon" width="10" height="12">
      <use href="./images/icons.svg#icon-arrow-fourth"></use>
    </svg>
  </button>
  <ul class="side-nav__links list">
    <li class="side-nav__links-item">
      <a
        class="side-nav__link side-nav__link--current link"
        href="#section-hero"
        >Home</a
      >
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#section-about">About us</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#section-about"
        >How it&apos;s made?</a
      >
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#section-products">Our products</a>
    </li>
    <li class="side-nav__links-item">
      <a class="side-nav__link link" href="#section-contacts">Contact</a>
    </li>
  </ul>
</div>
