.button {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    height: 44px;

    padding: 13px 37px;

    border-radius: 22px;
    cursor: pointer;

    transition: background-color 250ms linear;

    &__text {
        margin-right: 10px;
        font-weight: 700;
        line-height: calc(18 / 14);
        background-color: transparent;

        transition: background-color 250ms linear;
    }


    &__icon {
        width: 5px;
        height: 8px;

    }
}


.button--white {
    color: var(--accent-color);
    background-color: var(--primary-text-color);
    stroke: var(--accent-color);


}

.button--red {
    color: var(--primary-text-color);
    background-color: var(--button-second-accent-bgcolor);
    stroke: var(--primary-text-color);
}

.button--white:hover,
.button--white:focus,
.button--white:hover .button__text,
.button--white:focus .button__text,
.button--white:hover .button__icon,
.button--white:focus .button__icon {
    background-color: var(--button-hover-bgcolor);
}

.button--red:hover,
.button--red:focus,
.button--red:hover .button__text,
.button--red:focus .button__text,
.button--red:hover .button__icon,
.button--red:focus .button__icon {
    background-color: var(--accent-slider-dot-color);
}