.customer__reviews {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.customer__container {
  background-color: var(--fifth-bgcolor);
  padding-left: 74px;
  padding-right: 74px;
}
.customer__list {
  position: relative;
}
.slick-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slick-dots {
  position: absolute;
  width: 0;
  bottom: -22px;
}

.customer__img {
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}
.customer__comment {
  display: block;
  color: var(--dark-text-color);
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.58;
  letter-spacing: 0em;
  font-family: DM Sans;
  text-align: center;
  padding: 25px 58px 44px 85px;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  background-color: var(--secondary-bgcolor);
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 37px 55px 44px 50px;
    background-color: var(--fifth-bgcolor);
    width: 620px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    padding: 47px 109px 39px 109px;
    width: 968px;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 36px;
  }
  &::before {
    content: ' ';
    position: absolute;
    top: 12px;
    left: 63px;
    z-index: 1;
    background-image: url(../images/customer-reviews/“.png);
    width: 54px;
    height: 40px;
    @media screen and (min-width: 768px) {
      width: 60px;
      height: 40px;
      background-image: url(../images/customer-reviews/“_tabl.png);
      left: 6px;
    }
    @media screen and (min-width: 1200px) {
      width: 61px;
      height: 40px;
      background-image: url(../images/customer-reviews/“_tabl.png);
      top: 32px;
      left: 72px;
    }
  }
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 1px;
    width: 180px;
    border-radius: 1px;
    background-color: var(--secondary-dark-color);
    bottom: 44px;
    left: 50px;
    box-shadow: 0px -31px 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 2) 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 3) 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 4) 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 5) 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 6) 0px 0px var(--secondary-dark-color),
      0px calc(-31px * 7) 0px 0px var(--secondary-dark-color);

    @media screen and (min-width: 768px) {
      width: 608px;
      left: 6px;
      box-shadow: 0px -30px 0px 0px var(--secondary-dark-color),
        0px calc(-30px * 2) 0px 0px var(--secondary-dark-color);
    }
    @media screen and (min-width: 1200px) {
      width: 821px;
      left: 73px;
      bottom: 40px;
      box-shadow: 0px -31px 0px 0px var(--secondary-dark-color);
    }
  }
}
.customer__text {
  display: block;
  position: relative;
  z-index: 5;
  @media screen and (min-width: 768px) {
    min-width: 512px;
  }
}
.customer__user {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 0em;
  text-align: center;
  color: var(--dark-text-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--accent-slider-dot-color);
    top: -18px;
    left: 50%;
    box-shadow: 14px 0px 0px 0px var(--accent-slider-dot-color),
      -14px 0px 0px 0px var(--accent-slider-dot-color);
  }
}
