.products {
    background-color: var(--primary-text-color);
}

.products__label {
    margin-bottom: 15;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 18;
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 16;
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 140px;

    margin-top: 148px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 16px;

        margin-top: 158px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;

        margin-top: 281px;
    } 
}

.products__item {    
    padding-top: 160px;
    padding-bottom: 32px;
    width: 100%;
    border-radius: 24px;

    @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 16px * (3 - 1)) / 3);
    padding-top: 118px;
    padding-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 32px * (3 - 1)) / 3);
    padding-top: 165px;
    padding-bottom: 60px;
    }
}

.products__item--bg1 {
    background-color: var(--main-first-bgcolor);
}

.products__item--bg2 {
    background-color: var(--fourth-bgcolor);
}

.products__item--bg3 {
    background-color: var(--third-bgcolor);
}

.products__name {
    position: relative;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--primary-text-color);

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__name::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 133px;
    transform: translateY(38px);

    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: block;
    background-color: var(--primary-text-color);
    box-shadow: 10px 0 var(--primary-text-color), -10px 0 var(--primary-text-color);

    @media screen and (min-width: 768px) {
        left: 105px;
    }

    @media screen and (min-width: 1200px) {
        left: 177px;
    }
}

.products__name--icecream::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300px);

    width: 280px;
    height: 280px;

    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 0px) and (max-width: 319px) {
        background-image: url(../images/products/products-mob-1.png);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-mob-1@2x.png);
            }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        background-image: url(../images/products/products-mob-1.png);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-mob-1@2x.png);
            }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 0;
        left: 0;
        transform: translateY(-256px);
    
        width: 224px;
        height: 224px;

        background-image: url(../images/products/products-tab-1.png);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-tab-1@2x.png);
            }
    }

    @media screen and (min-width: 1200px) {
        top: 0;
        left: 0;
        transform: translateY(-426px);
        
        width: 368px;
        height: 394px;

        background-image: url(../images/products/products-desc-1.png);

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../images/products/products-desc-1@2x.png);
            }
    }
}

.products__name--coffee::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300px);
        
    width: 280px;
    height: 280px;
        
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 0px) and (max-width: 319px) {
        background-image: url(../images/products/products-mob-2.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-mob-2@2x.png);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        background-image: url(../images/products/products-mob-2.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-mob-2@2x.png);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 0;
        left: 0;
        transform: translateY(-256px);
        
        width: 224px;
        height: 224px;

        background-image: url(../images/products/products-tab-2.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-tab-2@2x.png);
        }
    }

    @media screen and (min-width: 1200px) {
        top: 0;
        left: 0;
        transform: translateY(-426px);
        
        width: 368px;
        height: 394px;

        background-image: url(../images/products/products-desc-2.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-desc-2@2x.png);
        }
    }
}

.products__name--milkshake::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-300px);
    
    width: 280px;
    height: 280px;
    
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 0px) and (max-width: 319px) {
        background-image: url(../images/products/products-mob-3.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-mob-3@2x.png);
        }
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        background-image: url(../images/products/products-mob-3.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-mob-3@2x.png);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        top: 0;
        left: 0;
        transform: translateY(-256px);
        
        width: 224px;
        height: 224px;

        background-image: url(../images/products/products-tab-3.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-tab-3@2x.png);
        }
    }

    @media screen and (min-width: 1200px) {
        top: 0;
        left: 0;
        transform: translateY(-426px);
        
        width: 368px;
        height: 394px;

        background-image: url(../images/products/products-desc-3.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/products-desc-3@2x.png);
        }
    }
}

.products__desc {
    margin-top: 70px;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-right: 40px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        margin-left: 32px;
        margin-right: 32px;
        font-size: 14px;
        line-height: 1.76;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 64px;
        margin-right: 64px;
        font-size: 16px;
        line-height: 1.76;
    } 
}

.products__button {
    margin-left: 120px;
    margin-right: 120px;

    width: 40px;
    height: 40px;

    cursor: pointer;
    background-color: var(--primary-text-color);
    border-style: none;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
    margin-left: 92px;
    margin-right: 92px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 164px;
        margin-right: 164px;
    }
}